<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.mao.newsssm.dao.CommentMapper">
	<select id="getAll" parameterType="int" resultType="cn.mao.newsssm.entity.Comment">
		select * from comment
		<where>nid=#{id1}</where>
		limit ${page},${rows}
	</select>
	<insert id="addComment" parameterType="cn.mao.newsssm.entity.Comment">
		insert into comment(nid,neirong,shijian,nicheng) values(#{nid},#{neirong},#{shijian},#{nicheng})
	</insert>
		<select id="countofComment" parameterType="int" resultType="Long"> 
		select count(*) from comment where nid=#{nid}
	</select>
</mapper>